<div class="container py-5" *ngIf="order">

  <h2 class="mb-4">Order #{{ order.id }}</h2>

  <div class="card mb-4">
    <div class="card-body">

      <p><strong>Date:</strong> {{ order.createdAt | date:'dd/MM/yyyy HH:mm' }}</p>
      <p><strong>Status:</strong>
        <span [ngClass]="getStatusClass(order.status)">
          {{ getStatusName(order.status) }}
        </span>

      </p>
      <p><strong>Note:</strong> {{ order.note }}</p>
      <p><strong>Address:</strong> {{ order.address }}</p>
      <p><strong>Phone:</strong> {{ order.phone }}</p>
      <!-- ACTION: CANCEL ORDER -->
    <div class="mt-3">
      <button
        class="btn btn-danger"
        *ngIf="canCancel()"
        (click)="cancelOrder()"
      >
        Hủy đơn hàng
      </button>

      <small
        *ngIf="!canCancel()"
        class="text-muted d-block"
      >
        Đơn hàng không thể hủy ở trạng thái này
      </small>
    </div>
    </div>
  </div>

  <h4>Products</h4>

  <div class="card" *ngFor="let item of order.order_details">
    <div class="card-body d-flex justify-content-between">

      <div class="d-flex align-items-center">
        <img [src]="item.product.image" width="60" class="mr-3 rounded">
        <div>
          <h5>{{ item.product.name }}</h5>
          <p class="text-muted">{{ formatVND(item.price) }} x {{ item.quantity }}</p>
        </div>
      </div>

      <div class="text-right">
        <h5 class="text-danger">{{ formatVND(item.price * item.quantity) }}</h5>
      </div>

    </div>
  </div>

  <div class="card mt-4">
    <div class="card-body d-flex justify-content-between">
      <h4>Total</h4>
      <h4 class="text-danger">{{ formatVND(order.total) }}</h4>
    </div>
  </div>

</div>

<div *ngIf="!order" class="text-center py-5 text-muted">
  Loading order details...
</div>